@charset "UTF-8";

@font-face {
  font-family: 'Averta';
  src: url("../../fonts/Averta%20Thinfee3.html?56a5d39fcd8d4f78c10388e7d08c7ba7") format("woff"), url("../../fonts/Averta%20Thin51e8.html?93fffbd8909c1f2bbbe75be03a25fd9d") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("../../fonts/Averta%20Regular20e3.html?5ee63a5ea3c608bd7ffc448fbb01781d") format("woff"), url("../../fonts/Averta%20Regularbfce.html?c9a008fcd0bab30d718c585b38be0590") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("../../fonts/Averta%20Regular%20Italic55c1.html?c638ae0874bcff6a831704bec23ed09f") format("woff"), url("../../fonts/Averta%20Regular%20Italicf96b.html?cc5d634e450037e7c85b76ed5fb54696") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Averta';
  src: url("../../fonts/Averta%20Semibold05e2.html?8b8c9bf9314cd2c8071f607f22060685") format("woff"), url("../../fonts/Averta%20Semiboldfdaa.html?2182b9b6f40ff7f3a40dfb6f72d20be3") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("../../fonts/Averta%20Semibold%20Italice961.html?ab02b19ce633c7bcb1378b79e1c806db") format("woff"), url("../../fonts/Averta%20Semibold%20Italice22d.html?a7c47baf5b6be87d6a4695fa77caad44") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/Proxima%20Nova%20Light%20Italicde93.html?748f66fdaa1cb98a4751ce334d8f9e9a") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/Proxima%20Nova%20Light9462.html?076d851b602b9915c429f3a2e436c639") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/Proxima%20Nova%20Regular%20Italic1715.html?96b34dd3fa3bf9942d57bb3b67a6f0ba") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/Proxima%20Nova%20Regular15be.html?410504d49238e955ba7dc23a7f963021") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/Proxima%20Nova%20Semibold%20Italicf4b8.html?68f6e78569a41b68fdcfbb7185e896bf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/Proxima%20Nova%20Semibold187d.html?6a386899746222073dd64c5f74d1a69d") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/Proxima%20Nova%20Bold%20Italic7ea9.html?2f043dc9e72e921e5e44413625acce20") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/Proxima%20Nova%20Bold8f3d.html?62d4d7d369292a9bf23762465ec6d704") format("opentype");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  font-family: "Proxima Nova";
}

@media (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}

#header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1000;
  -webkit-box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.05);
}

#header .logo {
  height: 34px;
}

#header .logo-white {
  display: none;
}

#header #header-nav a.nav-link {
  text-transform: uppercase;
  color: #000;
  font-family: 'Proxima Nova';
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
}

#header #header-nav a.nav-link:hover,
#header #header-nav a.nav-link.active {
  color: #00A4C8;
}

#header.sticky,
#header.dark {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #0E819F;
}

#header.sticky .logo-black,
#header.dark .logo-black {
  display: none;
}

#header.sticky .logo-white,
#header.dark .logo-white {
  display: block;
}

#header.sticky #header-nav a.nav-link,
#header.dark #header-nav a.nav-link {
  text-transform: uppercase;
  color: #fff;
}

#header.sticky #header-nav a.nav-link:hover,
#header.sticky #header-nav a.nav-link.active,
#header.dark #header-nav a.nav-link:hover,
#header.dark #header-nav a.nav-link.active {
  background-color: #016F8C;
  border-radius: 30px;
}

#header .dropdown-menu .fa {
  width: 22px;
  color: #05B6C5;
}

#header .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: -4px;
}

.sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.content {
  padding-top: 90px;
}

.footer {
  padding-top: 65px;
  padding-bottom: 56px;
  background-color: #1A4564;
}

.footer .footer-logo {
  display: block;
  margin-bottom: 7px;
}

.footer .footer-logo img {
  width: 83px;
}

.footer .slogan {
  color: #235275;
  font-size: 13px;
}

.footer .footer-nav .nav-link {
  padding-left: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #84ABC6;
}

.footer .footer-right {
  text-align: right;
  width: 70%;
  float: right;
}

.footer .site-name {
  color: #FFF;
  font-size: 15px;
}

.footer .site-info {
  color: #7898AF;
  font-size: 15px;
}

.footer .site-info a {
  color: #7898AF;
}

.footer .site-info p {
  margin-bottom: 0px;
}

.to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #1BA5C8;
  cursor: pointer;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

@media (min-width: 992px) {
  .to-top {
    width: 88px;
    height: 88px;
  }
}

.to-top img {
  width: 18px;
  height: 22px;
}

@media (min-width: 992px) {
  .to-top img {
    width: 36px;
    height: 44px;
  }
}

.to-top:focus {
  outline: none;
}

#header-carousel .carousel-control-prev,
#header-carousel .carousel-control-next {
  opacity: 0.3;
}

#header-carousel .carousel-control-prev:hover,
#header-carousel .carousel-control-next:hover {
  opacity: 1;
}

#header-carousel .carousel-control-prev-icon,
#header-carousel .carousel-control-next-icon {
  background-image: none;
  font-size: 30px;
}

#header-carousel .carousel-caption {
  text-align: left;
  top: 5%;
  left: 0%;
  right: 0%;
}

@media (min-width: 992px) {
  #header-carousel .carousel-caption {
    top: 15%;
  }
}

#header-carousel .carousel-caption h5 {
  text-transform: uppercase;
  font-family: "Proxima Nova";
  font-size: 18px;
}

@media (min-width: 768px) {
  #header-carousel .carousel-caption h5 {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  #header-carousel .carousel-caption h5 {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  #header-carousel .carousel-caption h5 {
    font-size: 42px;
  }
}

#header-carousel .carousel-caption p {
  font-family: "Proxima Nova";
  font-style: italic;
  margin-bottom: 25px;
  font-size: 20px;
}

@media (min-width: 768px) {
  #header-carousel .carousel-caption p {
    width: 415px;
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  #header-carousel .carousel-caption p {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  #header-carousel .carousel-caption p {
    font-size: 28px;
  }
}

.authentication-container {
  background: url("../../images/authenticate-bg-compressed.html") center center;
  background-size: cover;
  padding: 138px 0 157px;
}

.authentication-container .card {
  max-width: 551px;
  margin: 0 auto;
  padding: 38px 0;
}

.authentication-container .card .card-header {
  font-family: Proxima Nova;
  line-height: 27px;
  font-size: 24px;
  text-align: center;
  color: #354052;
  background-color: transparent;
  padding: 20px 0 44px 0;
  border: none;
}

.authentication-container .card .card-body {
  padding: 1.25rem 85px;
}

.authentication-container .card input[type=email],
.authentication-container .card input[type=password],
.authentication-container .card input[type=text] {
  border: 1px solid #E6EBF0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  padding: 0 28px;
  height: 68px;
}

.authentication-container .card input[type=email]:focus,
.authentication-container .card input[type=password]:focus,
.authentication-container .card input[type=text]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.authentication-container .card .form-group {
  margin-bottom: 1.2rem;
}

.authentication-container .card .link {
  text-align: center;
  margin-top: 30px;
}

.authentication-container .card .link a {
  color: #00A4C8;
  text-decoration: underline;
  font-weight: 600;
}

.authentication-container .card button {
  height: 56px;
  border-radius: 3px;
}

.authentication-footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.authentication-footer img {
  width: 50px;
  height: 16px;
  margin-right: 10px;
}

.authentication-footer span {
  font-family: Proxima Nova;
  line-height: 19px;
  font-size: 13px;
  color: #354052;
  opacity: 0.5;
}

.mt-5 {
  margin-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.db-btn {
  position: relative;
  overflow: hidden;
  /*
    -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    */
  z-index: 1;
  border: none;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 7px 14px;
}

.db-btn:hover {
  color: #fff;
}

.db-btn:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}

.db-btn.btn-round:before {
  border-radius: 30px;
}

.db-btn:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  border-radius: 2px;
  content: '';
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.db-btn-outline {
  background-color: #fff;
  color: #05B6C5;
  border-radius: 3px;
}

.db-btn-outline:hover {
  color: #00758F;
}

.db-btn-outline:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
  background: #FCBC19;
}

.db-btn-lg {
  font-size: 16px;
  padding: 9px 20px;
}

.btn-round {
  background-image: -webkit-gradient(linear, left top, right top, from(#45C7DF), to(#50DBD6));
  background-image: linear-gradient(to right, #45C7DF, #50DBD6);
  border-radius: 30px;
  padding: 5px 9px 5px 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-round span {
  display: inline-block;
  margin-left: 20px;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: #fff;
  padding: 8px 8px 8px 10px;
}

.btn-round span i {
  color: #05B6C5;
}

.btn-round:hover {
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

.db-btn-indigo {
  background-color: #006299;
}

.db-btn-blue {
  background-color: #35C1D1;
}

.db-btn-cyan-light {
  background-color: #05B6C5;
}

.feature {
  padding-top: 90px;
  padding-bottom: 90px;
  overflow-x: hidden;
}

.feature .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

.feature .title h4 {
  font-size: 36px;
  font-weight: 700;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: "Proxima Nova";
  line-height: 40px;
  letter-spacing: 1px;
}

.feature .more-info {
  padding-right: 40px;
}

.feature .description {
  width: 85%;
  font-size: 22px;
  color: #45676A;
  margin-bottom: 70px;
}

.feature .sub-title {
  text-transform: uppercase;
  font-size: 24px;
  color: #048894;
  font-weight: 600;
  margin-bottom: 15px;
}

.feature .feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.feature .feature-item .feature-index {
  color: #05B6C5;
  font-size: 18px;
  position: relative;
  margin-right: 33px;
}

.feature .feature-item .feature-index::after {
  content: '';
  position: absolute;
  top: 5px;
  height: 33px;
  border-right: 2px solid #05B6C5;
}

.feature .feature-item .feature-index::after {
  right: -10px;
}

.feature .feature-item .feature-index-left {
  color: #05B6C5;
  font-size: 18px;
  position: relative;
  margin-left: 33px;
}

.feature .feature-item .feature-index-left::after {
  content: '';
  position: absolute;
  top: 5px;
  height: 33px;
  border-right: 2px solid #05B6C5;
}

.feature .feature-item .feature-index-left::after {
  left: -10px;
}

.feature .feature-item .feature-content h6 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3E3549;
}

.feature .feature-item .feature-content p {
  color: #272727;
  font-size: 18px;
  text-align: justify;
}

.feature .try {
  margin-left: 45px;
}

.feature .try p {
  color: #272727;
  font-size: 18px;
  padding-left: 30px;
}

.feature .try.try-right {
  margin-left: 0;
  margin-right: 45px;
}

.feature.feature-bg {
  background-color: #d0f2f4;
}

.feature.feature-bg.feature-bg-2 {
  background-color: #eef7f9;
}

.left-curve-bg {
  height: 101px;
  background-repeat: no-repeat;
  display: none;
  background-image: url("../../images/left-curve-bg.html");
  background-position: left top;
}

@media (min-width: 992px) {
  .left-curve-bg {
    display: block;
  }
}

.right-curve-bg {
  height: 101px;
  background-repeat: no-repeat;
  display: none;
  background-image: url("../../images/right-curve-bg.html");
  background-position: right bottom;
}

@media (min-width: 992px) {
  .right-curve-bg {
    display: block;
  }
}

.price-feature {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 60px;
}

@media (min-width: 992px) {
  .price-feature {
    width: 45vw;
  }
}

.price-feature .desc {
  margin-right: 0;
  margin: 0 auto;
  font-size: 15px;
}

.price-feature .desc p {
  margin-bottom: 0;
}

.price-feature .form {
  margin: 0 auto;
  margin-top: 20px;
  width: 95%;
}

@media (min-width: 992px) {
  .price-feature .form {
    width: 35vw;
  }
}

.price-feature .form .form-control {
  margin-bottom: 10px;
}

.price-feature .form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 767px) {
  .feature .more-info {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .feature .description {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .feature .re-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .feature .re-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.hr-linear {
  width: 85px;
  height: 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(#35C1D1), to(#1D46CF));
  background-image: linear-gradient(to right, #35C1D1, #1D46CF);
  text-align: center;
}

.hr-linear.white {
  background-image: none;
  background-color: #fff;
}

.hr-line {
  width: 50px;
  height: 2px;
  background-color: #35C1D1;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.hr-line.white {
  background-color: #fff;
}

.hr-line.indigo {
  background-color: #5D40A6;
}

.free-trial {
  margin-top: 60px;
  margin-bottom: 90px;
  min-height: 154px;
  padding: 30px 50px;
  background: url("../../images/trial-bg.html") no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  overflow-y: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .free-trial {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.free-trial .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.free-trial .title h6 {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 4px;
}

.free-trial .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.free-trial .description p {
  margin-bottom: 0;
}

.contact-form {
  background: url("../../images/contact-form-bg-compressed.html") center center;
  background-size: cover;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-form a {
  color: #fff;
}

.contact-form .title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.contact-form .description {
  text-align: center;
  margin-bottom: 25px;
}

.contact-form .description p {
  margin-bottom: 5px;
}

.contact-form .form {
  width: 80vw;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .contact-form .form {
    width: 35vw;
  }
}

.contact-form .form .form-control {
  margin-bottom: 10px;
  border-radius: 2px;
  height: auto;
  padding: 12px;
}

.contact-form .form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-form .form a {
  text-align: center;
  display: block;
  margin-top: 30px;
  text-decoration: none;
  outline: none;
  display: inline-block;
  position: relative;
  color: #FFF;
}

.contact-form .form a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #FFF;
  margin-top: 0px;
}

.price {
  padding-bottom: 30px;
}

.price .content {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1075px) {
  .price .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.price .content .price-item {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#35C1D1), to(#5D40A6));
  background-image: linear-gradient(to bottom, #35C1D1, #5D40A6);
  border-radius: 3px;
  padding: 1px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 400px;
}

@media (min-width: 1075px) {
  .price .content .price-item {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.price .content .price-item.scale {
  -webkit-box-shadow: 3px 2px 30px 5px #d2d2d2;
          box-shadow: 3px 2px 30px 5px #d2d2d2;
}

@media (min-width: 1075px) {
  .price .content .price-item.scale {
    -webkit-transform: scale(1.1, 1.2);
            transform: scale(1.1, 1.2);
  }
}

.price .content .price-item.scale .price-item-wrap {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#35C1D1), to(#004D87));
  background-image: linear-gradient(to bottom, #35C1D1, #004D87);
}

.price .content .price-item.scale .price-item-wrap h5,
.price .content .price-item.scale .price-item-wrap h6,
.price .content .price-item.scale .price-item-wrap .description {
  color: #fff;
}

.price .content .price-item.scale sup a {
  color: #FFF;
}

.price .content .price-item .price-item-wrap {
  height: 100%;
  background-color: #fff;
  border-radius: 3px;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.price .content .price-item .price-item-wrap h6 {
  font-size: 20px;
}

.price .content .price-item .price-item-wrap h5 {
  color: #05B6C5;
  font-size: 36px;
  text-align: center;
}

.price .content .price-item .price-item-wrap h5.small {
  font-size: 26px;
}

.price .content .price-item .price-item-wrap img {
  width: 70px;
  height: 70px;
  margin: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.price .content .price-item .price-item-wrap .description-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.price .content .price-item .price-item-wrap .description {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 14px;
  width: 100%;
}

.price .content .price-item sup a {
  color: #45676A;
}

.price .legend {
  text-align: center;
}

.price .legend h5 {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.09091px;
  text-transform: uppercase;
  color: #048894;
  margin-bottom: 15px;
}

.price .legend p {
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 992px) {
  .demo .demo-right {
    padding-left: 60px;
  }

  .demo .demo-left {
    padding-right: 60px;
  }
}

.demo-tts {
  background: url("../../images/tts-demo-compressed.html");
  background-size: cover;
  padding: 54px 0 166px;
  color: #FFF;
}

.demo-tts .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

.demo-tts .title h4 {
  font-size: 36px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.demo-tts .sub-title {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 18px;
}

.demo-tts .description {
  margin-top: 15px;
  font-family: "Proxima Nova";
  line-height: 19px;
  font-size: 14px;
}

.demo-tts label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  font-size: 13px;
  letter-spacing: 0.2px;
  color: #739DBB;
}

.demo-tts button {
  margin: 12px 0px;
  width: 130px;
}

@media (min-width: 992px) {
  .demo-tts button {
    width: 177px;
  }
}

.demo-tts .waiting {
  position: absolute;
  top: 50px;
  left: calc(50% - 30px);
  z-index: 10;
}

.demo-tts audio {
  display: none;
}

.demo-tts wave {
  background-color: #23587D;
}

.demo-asr {
  background: url("../../images/tts-demo-compressed.html");
  background-size: cover;
  padding: 58px 0 142px;
  color: #FFF;
}

.demo-asr .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

.demo-asr .title h4 {
  font-size: 36px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.demo-asr .sub-title {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 18px;
}

.demo-asr .description {
  font-family: "Proxima Nova";
  line-height: 19px;
  font-size: 14px;
}

.demo-asr label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  font-size: 13px;
  letter-spacing: 0.2px;
  color: #739DBB;
}

.demo-asr button {
  width: 130px;
  margin: 8px 5px;
  font-size: 14px;
}

.demo-asr #clear-btn {
  position: absolute;
  font-size: 20px;
  top: 5px;
  right: 28px;
  color: rgba(0, 0, 0, 0.15);
}

.demo-asr .nav-tabs {
  background: #ECF8F9;
  border-radius: 2px 2px 0 0;
}

.demo-asr .nav-tabs .nav-link {
  color: #000;
}

.demo-asr .nav-tabs .nav-item.show .nav-link,
.demo-asr .nav-tabs .nav-link.active {
  color: #00A4C8;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #00A4C8;
}

.demo-asr .plain-text {
  height: 295px;
  background-color: #FFF;
  color: #444;
  border-radius: 0 0 2px 2px;
  max-height: 500px;
  overflow: auto;
}

.demo-asr .plain-text #streaming-content-text {
  white-space: normal;
  padding-top: 10px;
}

.demo-asr .plain-json {
  height: 295px;
  background-color: #FFF;
  color: #444;
  border-radius: 0 0 2px 2px;
  max-height: 500px;
  overflow: auto;
}

.demo-asr .plain-json #streaming-content-json {
  white-space: pre;
  padding-top: 10px;
}

.demo-asr .temp {
  background-color: yellow;
}

.heading {
  height: 60px;
  background: #F9FBFE;
  border-radius: 6px 6px 0px 0px;
  font-family: Proxima Nova;
  line-height: normal;
  font-size: 18px;
  color: #272727;
  padding: 19px 24px;
  border: 1px solid #EAEFF6;
}

.data-table {
  border: 1px solid #0E819F;
}

.data-table td,
.data-table th {
  border: none;
}

.data-table td.order-column,
.data-table th.order-column {
  width: 50px;
}

.data-table thead th {
  border-bottom: 1px solid #0E819F;
  background: #E1F4F6;
  font-family: Proxima Nova;
  line-height: normal;
  font-size: 18px;
  color: #0E819F;
}

.data-table tbody {
  /*
        tr {
            border-top: 1px solid #EBEDF3;
        }
        */
}

.data-table tbody td {
  color: #7F89A4;
}

.checkbox {
  display: none;
}

.is-detail-checkbox {
  cursor: pointer;
  margin-right: 30px;
  position: relative;
  padding-left: 25px;
}

.is-detail-checkbox::after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  z-index: 20;
  width: 1rem;
  height: 1rem;
  border: 2px solid #f2f2f2;
}

.checkbox:checked + .is-detail-checkbox::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}

.dashboard .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0 40px;
}

.dashboard .stats .item {
  width: 240px;
  color: #FFF;
  border-radius: 6px;
  padding: 25px;
  margin-bottom: 10px;
}

.dashboard .stats .item .title {
  font-family: "Proxima Nova";
  line-height: normal;
  font-size: 18px;
}

.dashboard .stats .item .number {
  font-family: "SF Pro Display";
  line-height: normal;
  font-size: 42px;
}

.dashboard .stats .item:nth-child(1) {
  background-color: #0E819F;
}

.dashboard .stats .item:nth-child(2) {
  background-color: #0068C8;
}

.dashboard .stats .item:nth-child(3) {
  background-color: #05B6C5;
}

.dashboard .stats .item:nth-child(4) {
  background-color: #F8AA27;
}

.dashboard .stats .item:nth-child(5) {
  background-color: #35A1EE;
}

.dashboard .controls {
  padding: 20px 30px;
  background: #F9FAFE;
  border: 1px solid #EBEDF3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .dashboard .controls {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.dashboard .controls .interval_buttons button {
  background-color: #FFF;
  color: #7F8FA4;
  border: 1px solid #AAA;
  width: 90px;
}

.dashboard .controls .interval_buttons button.active {
  background-color: #0E819F;
  color: #FFF;
}

.dashboard .controls .reportrange {
  color: #0E819F;
  cursor: pointer;
  padding: 5px 10px;
}

.dashboard .controls-2 {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .dashboard .controls-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.dashboard .controls-2 .title {
  font-family: Helvetica;
  line-height: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: #363B4E;
  width: 200px;
  margin-right: auto;
}

.dashboard .controls-2 .stat-type {
  /* The switch - the box around the slider */
}

.dashboard .controls-2 .stat-type .label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  font-size: 14px;
  color: #8090B0;
  margin: 0 10px;
}

.dashboard .controls-2 .stat-type .switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
  margin-bottom: 0;
  /* Hide default HTML checkbox */
  /* The slider */
}

.dashboard .controls-2 .stat-type .switch input {
  display: none;
}

.dashboard .controls-2 .stat-type .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 14px;
}

.dashboard .controls-2 .stat-type .switch .slider::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.dashboard .controls-2 .stat-type .switch input:checked + .slider {
  background-color: #0E819F;
}

.dashboard .controls-2 .stat-type .switch input:checked + .slider::before {
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
}

.dashboard #chart {
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
}

.dropdown-el-wrapper {
  position: relative;
  width: 192px;
  margin-bottom: 20px;
}

.dropdown-el {
  width: 100%;
  z-index: 10;
  position: absolute;
  display: inline-block;
  min-height: 2em;
  max-height: 2em;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #444;
  outline: none;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  background: #FFFFFF;
  border: 1px solid #EBEDF3;
  border-radius: 4px;
}

.dropdown-el input {
  display: none;
}

.dropdown-el input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  top: 0;
  width: 170px;
}

.dropdown-el input:checked + label:nth-child(2) {
  margin-top: 0;
  position: relative;
}

.dropdown-el label {
  border-top: .06em solid #d9d9d9;
  display: block;
  height: 2em;
  line-height: 2em;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s color ease-in-out;
  transition: 0.3s color ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-el label:nth-child(2) {
  margin-top: 2em;
  border-top: .06em solid #d9d9d9;
}

.dropdown-el.expanded {
  border: 0.06em solid #3694d7;
  background: #fff;
  border-radius: .25em;
  padding: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
  max-height: 15em;
}

.dropdown-el.expanded input:checked + label {
  color: #3694d7;
}

.dropdown-el.expanded label {
  border-top: .06em solid #d9d9d9;
}

.dropdown-el.expanded label:hover {
  color: #3694d7;
}

.dropdown-el.expanded::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.dropdown-el::after {
  content: "";
  position: absolute;
  right: 0.8em;
  top: 0.3em;
  background: url("data:image/svg+xml;utf8,<svg fill='%23666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/> <path d='M0-.75h24v24H0z' fill='none'/> </svg>"), no-repeat;
  height: 24px;
  width: 24px;
  -webkit-transition: .4s all ease-in-out;
  transition: .4s all ease-in-out;
}

.pagination {
  float: right;
}

.page-item.active .page-link {
  background-color: #0E819F;
  border-color: #0E819F;
}

.page-link {
  color: #4F4F4F;
}

.pure-material-checkbox {
  position: relative;
  display: inline-block;
}

.pure-material-checkbox > input {
  opacity: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  z-index: -1;
  left: -15px;
  top: -15px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.42);
  outline: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.pure-material-checkbox > input:checked {
  background-color: #EDF5E6;
}

.pure-material-checkbox > input:checked + span::before {
  border-color: #EDF5E6;
  background-color: #EDF5E6;
}

.pure-material-checkbox > input:checked + span::after {
  border-color: #67B930;
}

.pure-material-checkbox > span::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  border: solid 1px #E6EBF0;
  border-radius: 3px;
  width: 26px;
  height: 26px;
  vertical-align: -4px;
  -webkit-transition: border-color 0.5s, background-color 0.5s;
  transition: border-color 0.5s, background-color 0.5s;
  z-index: 10;
}

.pure-material-checkbox > span::after {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 10;
  top: 2px;
  left: 5px;
  width: 5px;
  height: 10px;
  border: solid 2px transparent;
  border-left: none;
  border-top: none;
  -webkit-transform: translate(6.5px, 5px) rotate(45deg);
          transform: translate(6.5px, 5px) rotate(45deg);
}

.pure-material-checkbox:active > input {
  /* Thu nhỏ lại, nhưng mà đục */
  /* Khi hết active sẽ bung ra */
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0s, -webkit-transform 0s;
  transition: opacity 0s, -webkit-transform 0s;
  transition: opacity 0s, transform 0s;
  transition: opacity 0s, transform 0s, -webkit-transform 0s;
}

.pure-material-checkbox > input:active + span::before {
  border-color: #2196f3;
}

.pure-material-checkbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.42);
}

.sortable-table .sortable {
  cursor: pointer;
}

.sortable-table .sortable:hover {
  color: blue;
}

.sortable-table .sortable .sort-direction {
  color: #000;
  opacity: 0.7;
  float: right;
  padding-left: 10px;
}

.sortable-table .sortable .sort-direction.fa-sort {
  opacity: 0.2;
}

.audioplayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #FAFAFA;
}

.audioplayer button {
  border: none;
  outline: none;
  height: 32px;
  width: 32px;
  background: transparent;
  margin-left: 20px;
  margin-right: 20px;
}

.audioplayer .time-info {
  padding: 0 5px;
  width: 100px;
  color: rgba(0, 0, 0, 0.87);
}

.audioplayer .timeline {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  background: #DADADA;
  border-radius: 4px;
  position: relative;
}

.audioplayer .timeline .bar-process {
  background-color: #35C1D1;
  height: 4px;
  border-radius: 4px 0 0 4px;
}

.audioplayer .timeline .play-head {
  position: absolute;
  top: -7px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15), 0 0 0 1px rgba(34, 36, 38, 0.15) inset;
          box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15), 0 0 0 1px rgba(34, 36, 38, 0.15) inset;
  background-color: #35C1D1;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.rounded-2 {
  border-radius: 2px;
}


/*# sourceMappingURL=app.css.map*/